@model Database.Model.Book

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Book</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Price" class="control-label"></label>
                <input asp-for="Price" class="form-control" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Category" class="control-label"></label>
                @Html.DropDownList("Category", new List<SelectListItem>
           {
               new SelectListItem { Text = "Action and Adventure", Value = "Action and Adventure" },
               new SelectListItem { Text = "Classics", Value = "Classics" },
               new SelectListItem { Text = "Comic Book or Graphic Novel", Value = "Comic Book or Graphic Novel" },
               new SelectListItem { Text = "Detective and Mystery", Value = "Detective and Mystery" },
               new SelectListItem { Text = "Fantasy", Value = "Fantasy" },
               new SelectListItem { Text = "Historical Fiction", Value = "Historical Fiction" },
               new SelectListItem { Text = "Horror", Value = "Horror" },
           }, "Select book genres", new { @class = "form-control" })
                <span asp-validation-for="Category" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Author" class="control-label"></label>
                <input asp-for="Author" class="form-control" />
                <span asp-validation-for="Author" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-success" />
                <a asp-action="GetBooks" class="btn btn-secondary">Back</a>
            </div>
        </form>
    </div>
</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
